## 2) Variables and Assignment Statements

In [1]:
x = 7

In [2]:
print(x)

7

In [3]:
y = 3

In [4]:
print(x + y)

10

In [5]:
total = x + y

In [6]:
print(total)

10

In [7]:
z = 10.5

In [8]:
type(z)

float

In [9]:
#multiplication
7 * 4

28

In [10]:
#exponenetiation
2 ** 10

1024

In [11]:
#true division
7 / 4

1.75

In [12]:
- 13 / 4

-3.25

In [13]:
#floor division
7 // 4

1

In [14]:
#floor division
3 // 5

0

In [15]:
-13 // 4

-4

In [16]:
#remainder operator

13 % 4

1

In [17]:
7.5 % 3.5

0.5

In [18]:
#printing

print("I love chocolates")

I love chocolates

In [19]:
#printing

print("I\nlove\nchocolates")

I
love
chocolates

In [20]:
#printing

print("I\tlove\tchocolates")

I	love	chocolates

In [21]:
#printing

print("I\\love\\chocolates")

I\love\chocolates

In [22]:
#printing

print("I \'love\'chocolates")

I 'love'chocolates

In [23]:
print('A soma de 7 + 3 e igual a: ', 7 + 3)

A soma de 7 + 3 e igual a:  10

In [24]:
string = 'chocolates'

In [25]:
type(string)

str

In [26]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [27]:
print("""This is a lenghty
multiline string containing
a few lines \
of text""")

This is a lenghty
multiline string containing
a few lines of text

In [28]:
nome = input('Qual e o seu nome? ')

Qual e o seu nome? Salerno

In [29]:
valor_1 = input('Digite o primeiro numero: ')

Digite o primeiro numero: 2

In [30]:
valor_2 = input('Digite o segundo numero: ')

Digite o segundo numero: 3

In [31]:
print(valor_1 + valor_2)

23

In [32]:
new_valor_1 = int(valor_1)

In [33]:
print(new_valor_1)

2

In [34]:
type(new_valor_1)

int

In [35]:
type(valor_1)

str

In [36]:
#comparison

7 > 4

True

In [37]:
6 < 5

False

In [38]:
#chaining comparison

x = 3

result = 1 <= x <= 4

In [39]:
print(result)

True

### Find the minimum of three values

In [1]:
number1 = int(input('Digite o primeiro numero: '))

Digite o primeiro numero: 2

In [2]:
number2 = int(input('Digite o segundo numero: '))

Digite o segundo numero: 3

In [3]:
number3 = int(input('Digite o terceiro numero: '))

Digite o terceiro numero: 4

In [6]:
print(number1)

2

In [8]:
minimum = number1

if number2 < minimum:
    minimum = number2

if number3 < minimum:
    minimum = number3

print('O menor valor e: ', minimum)

O menor valor e:  2

In [9]:
#minimo

min(22, 33, 44)

22

In [10]:
max(22, 33, 44)

44